@model IEnumerable<BestMovies.Models.Actor>

@{
    ViewBag.Title = "Index";
}
<div class="container">
    <h2>Really Good Actors</h2>

    <h2>
        @Html.ActionLink("Create New", "Create")
    </h2>

    <div class="row">
        @foreach (var item in Model)
        {
            <div class="col-xs-3 thumbnail">
                <h1>
                    Actor's Name: @Html.DisplayFor(modelItem => item.AtorName)
                </h1>

                <h4>
                    Born on: @Html.DisplayFor(modelItem => item.DOB)
                </h4>

                <h4>
                    Actor's Natioinality is: @Html.DisplayFor(modelItem => item.Nationality)
                </h4>
                <h6>
                    Gender: @Html.DisplayFor(modelItem => item.Gender)
                </h6>
                <p id="line">
                    @Html.ActionLink("Edit", "Edit", new { id = item.ActorID }) |
                    @Html.ActionLink("Details", "Details", new { id = item.ActorID }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.ActorID })
                </p>
            </div>
        }
    </div>
</div>








